@import "../../node_modules/bootstrap/less/bootstrap";

@hlinecolor: #aaa;
@linecolor: #aaa;
@menubk: #444;
@entrybk: #eee;
@fontsize: 30px;
@green: #00b050;

body {
  background-color: white;
  padding: 10px 10px;
  font-size: @fontsize;
}

h2 {
  font-size: @fontsize;
  border: 4px solid @hlinecolor;
  border-radius: 10px;
  padding: 27px 10px;
  text-align: center;
}

.header {
  height: 150px;
}

.content {
  height: ~"calc(100vh - 150px - 30px)";
}
ul {
  list-style: none;
  padding: 0;
  > li {
    display: inline-block;
  }
}

.router-link-exact-active {
  .btn;
  .btn-primary;
}


.entries {
  display: flex;
  flex-wrap: wrap;
  > * {
    display: block;
    margin-bottom: 10px;
  }
  .grid {
    display: grid;
    grid-column-gap: 10px;

  }

  .entry {
    height: 100px;
  }

  .cell {
    border: 2px solid @linecolor;
    border-radius: 10px;
    padding: 27px 20px 0px;
  }

  .img {
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
}

.group-user-statistics {
  .entries {
    flex-direction: column;
  }
  .grid {
    grid-template-columns: auto 150px 150px 100px;
  }

  .away .img {
    background-image: url('../img/call.png');
  }
}

.group-statistics {
  .grid {
    grid-template-columns: 100px auto 100px;
  }

  .man .img {
    background-image: url('../img/call.png');
  }
  .woman .img {
    background-image: url('../img/call.png');
  }
  .calls-waiting .img{
    background-image: url('../img/call.png');
  }
  .calls-waiting > div:last-child {
    color: @green;
    font-weight: bold;
  }
}

.multi-group-statistics {
  .grid {
    grid-template-columns: auto 230px 200px 200px 200px 200px 200px 200px;
  }
}
